.chatfooter {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
}

.msgs {
  height: 100%;
  overflow-y: auto;
  background: #ffffff;

  position: absolute;
  width: calc(100vw - 100px);
  right: 0;
  padding: 5px;
}

.chatfooter {
  position: absolute;
  width: calc(100vw - 100px);
  right: 0;
  background: #1b1b1b;
}

.enviado {
  border: 2px solid;
  border-color: #2e2e2e;
  color: #2e2e2e;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-weight: 600;
  max-width: fit-content;
  margin-right: 10px;
}

.enviado, .recibido {
  margin-top: 15px;
  margin-bottom: 15px;
}

.recibido {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  width: fit-content;
  margin-left: 10px;
}


.welcome {
  color: #fff;
  border-radius: 10px;
  width: fit-content;
  position: absolute;
  margin: auto;
  filter: opacity(0.6);
  left: 20%;
}

.centered {
  margin: auto;
}