.chatfooter {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
}

.msgs {
  height: 100%;
  overflow-y: auto;
  background: #ffffff;

  position: absolute;
  width: calc(100vw - 100px);
  right: 0;
}

.chatfooter {
  position: absolute;
  width: calc(100vw - 100px);
  right: 0;
  background: #2e2e2e;
}

.enviado {
  background-color: #127f79;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  max-width: 40%;
  margin-top: 10px;
  margin-right: 10px;
}

.recibido {
  background-color: #5cc123;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin-right: auto;
  max-width: 40%;
  margin-top: 10px;
  margin-left: 10px;
}
